<div class="contents row row4">
  <div class="container">
<%= form_with(model: [@tweet, @track], local: true) do |f| %>
<h3>Upload Tracks</h3>
<%= render partial: "track_form", locals: { f: f } %>
<% end %>
 </div>
</div>