      <%# form.text_field :image, placeholder: "Image Url" %>
　　　<div class="row2">Music Image</div>
      <%= form.file_field :image, id:"music_image" %>
      <div class="row2">Music Title</div>
      <%= form.text_field :title, placeholder: "Music Title", rows: "10" %>
      <div class="row2">Artist Name</div>
      <%= form.text_field :artist_name, placeholder: "Artist Name", rows: "10" %>
      <%= form.submit "SEND" %>