<!--再生プレイヤー１-->
<audio src="<%= "#{@tweet.music_file1}" %>#t=0,45" id="sound1">
  <p>HTML5に対応していません。</p>
  </audio>

<div class="original_player">
    <div class="player1">
      <a onclick="play1();" id="play"> 
      <div class="regeneration1"></div>
      </a></div>
        
        <script type="text/javascript">
    $(".regeneration1").on("click", function () {
      $(this).toggleClass("change1");
    });
    </script>
      <div class="player2"><a onclick="Volume(1);">⌃</a></div>
      <div class="player3"><a onclick="Volume(-1);">⌄</a></div>
      <div class="player4">1.<%= @tweet.music_title1 %></div>
    </div>
    
<script>
  var TARGET1 = document.getElementById('sound1');
  var isPlaying = false;

function play1(){
  if (isPlaying) {
  TARGET1.pause()
  TARGET1.currentTime = 0;
} else {
  TARGET1.currentTime = 0;
  TARGET1.play();
}

};
TARGET1.onplaying = function() {
isPlaying = true;
};
TARGET1.onpause = function() {
isPlaying = false;
}; 

function Volume(flag) {
    if (0 < flag) {
      if (0.9 < TARGET1.volume) {
        TARGET1.volume = 1;
      } else {
        TARGET1.volume += 0.1;
      }
    } else {
      if (TARGET1.volume < 0.1) {
        TARGET1.volume = 0;
      }
      else {
        TARGET1.volume -= 0.1;
      }
    }
  }
  </script>
<!--再生プレイヤー１終了-->

<!--再生プレイヤー２-->
<% unless @tweet.music_file2.blank? %>
<audio src="<%= "#{@tweet.music_file2}" %>#t=0,45" id="sound2">
  <p>HTML5に対応していません。</p>
  </audio>

<div class="original_player">
    <div class="player1">
      <a onclick="play2();" id="play"> 
      <div class="regeneration2"></div>
      </a></div>
        
        <script type="text/javascript">
    $(".regeneration2").on("click", function () {
      $(this).toggleClass("change2");
    });
    </script>
      <div class="player2"><a onclick="Volume(1);">⌃</a></div>
      <div class="player3"><a onclick="Volume(-1);">⌄</a></div>
      <div class="player4">2.<%= @tweet.music_title2 %></div>
    </div>
    
<script>
  var TARGET2 = document.getElementById('sound2');
  var isPlaying = false;

function play2(){
  if (isPlaying) {
  TARGET2.pause()
  TARGET2.currentTime = 0;
} else {
  TARGET2.currentTime = 0;
  TARGET2.play();
}

};
TARGET2.onplaying = function() {
isPlaying = true;
};
TARGET2.onpause = function() {
isPlaying = false;
}; 

function Volume(flag) {
    if (0 < flag) {
      if (0.9 < TARGET2.volume) {
        TARGET2.volume = 1;
      } else {
        TARGET2.volume += 0.1;
      }
    } else {
      if (TARGET2.volume < 0.1) {
        TARGET2.volume = 0;
      }
      else {
        TARGET2.volume -= 0.1;
      }
    }
  }
  </script>
  <% end %>
<!--再生プレイヤー2終了-->
