<div class="contents row row2">
  <div class="container">
    <%= form_with(model: @tweet, local: true) do |form| %>
      <h3>Edit musics</h3>
       <%= render partial: "tweet_form", locals: { form: form } %>
    <% end %>
  </div>
</div>