<!--再生プレイヤー20-->
<% unless track.track_file20.blank? %>
  <audio src="<%= "#{track.track_file20}" %>#t=0,45" id="sound20">
    <p>HTML20に対応していません。</p>
    </audio>
  
  <div class="original_player">
      <div class="player1">
        <a onclick="play20();" id="play"> 
        <div class="regeneration20"></div>
        </a></div>

      <script type="text/javascript">
      $(".regeneration20").on("click", function () {
        $(this).toggleClass("change20");
      });
      </script>
  
    <div class="player2"><a onclick="Volume20(1);">⌃</a></div>
    <div class="player3"><a onclick="Volume20(-1);">⌄</a></div>
    <div class="player4">20.<%= track.track_name20 %></div>
  </div>  
  
  <script>
    let TARGET20 = document.getElementById('sound20');
    let isPlaying20 = false;

  function play20(){
    if (isPlaying20) {
    TARGET20.pause()
    TARGET20.currentTime = 0;
  } else {
    TARGET20.currentTime = 0;
    TARGET20.play();
  }

  };
  TARGET20.onplaying = function() {
  isPlaying20 = true;
  };
  TARGET20.onpause = function() {
  isPlaying20 = false;
  }; 

  function Volume20(flag) {
      if (0 < flag) {
        if (0.9 < TARGET20.volume) {
          TARGET20.volume = 1;
        } else {
          TARGET20.volume += 0.1;
        }
      } else {
        if (TARGET20.volume < 0.1) {
          TARGET20.volume = 0;
        }
        else {
          TARGET20.volume -= 0.1;
        }
      }
    }
</script>
<% end %>
    <!--再生プレイヤー20終了-->