<p class="index_title" ><%= @user.nickname %>'s followings</p>

<div class="contents row row4">
  <div class="container">
<div class="stats">
    <strong id="following" class="stat">
      <%= @user.followings.count %>
    </strong>
    Following Users
  </div>

<% @users.each do |user| %>
<ul>
<li>
  <%= link_to user.nickname, user_path(user), class: "link_following" %>
</li>
</ul>
<% end %>
  </div>
</div>

