<%= form_with(url: search_musics_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "Please search for Artist, Music, Album~â™ª", class: "search-input" %>
  <%= form.submit "ðŸ”", class: "search-btn" %>
<% end %>
<div class="contents row">
  <% @musics.each do |music| %>
  <%# if music.order.nil? == false %>
    <%= render partial: "musics/music", locals: { music: music } %>
    <%# end %>
  <% end %>
</div>
