<p class="index_title" ><%= @nickname %>'s Music</p>
<div class="contents row">
  <% @musics.each do |music| %>
    <%= render partial: "musics/music", locals: { music: music } %>
  <% end %>
</div>  